/* Resetting */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  overflow-y: hidden;
}


  /* Section - 1 Styling */
.bay-rows{
  min-height: 700px;
  width: 100vw;
  background-image: linear-gradient(255deg, #11bba1 50%,  #52c9de 40%);
  display: flex;
  flex-direction: column;
}

/* Section 1 */

.bay-row-1{
  min-height: 100vh;
  background: rgba(0,0,0,0.1);
  /* background: #7ED321; */
}
/* Video Styling */
.bay-anime{
  position: relative;
  top: 120px;
  display: flex;
  flex-direction: column-reverse;
}
/* .bay-anime video{
  position: relative;
  bottom: 52px;
  margin-left: 300px;
  overflow-y: hidden;
} */
.bay-anime img{
  width: 70%;
  margin: 0 auto;
}
.bay-anime .bay-welcome-text{
  margin: 20px;
  color: white;
  white-space: nowrap;
  text-align: center;
}
.bay-anime .bay-welcome-text h3{
  font-weight: 700;
  font-size: 40px;
}
.bay-anime .bay-welcome-text p{
  font-size: 19px;
  /* width: 300px; */
}

/* Section - row - 2*/
.bay-row-2{
  margin: 5% 0px;
}
.bay-row-2 button.btn a{
  text-decoration: none;
  color: #fff;
  padding: 20px;
}
.bay-row-2 button.btn{
  display: block;
  margin: 0 auto;
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  background-image:linear-gradient(255deg,  #52c9de 40%,#11bba1 50% );
  font-size: 18px;
  color: #fff;
  border: 3px solid;
  font-weight: 700;
}
.bay-row-2 button.btn:hover{
  border: 3px solid;
  opacity: 0.8;
  background-image:linear-gradient(255deg,#11bba1 47%,#52c9de 40%);
  /* border-top: #52c9de; */
}
.bay-row-3{
  height: 50vh;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  margin: 0 auto;
  background: rgba(248, 224, 224, 0.3);
  padding: 23px;
}
.bay-row-3 h1{
  padding: 2rem;
  font-size: 2.5rem;
}
.bay-row-3 p{
  font-size: 19px;
  word-wrap: wrap;
  font-size: 1.5rem;
  color: rgb(119, 82, 82);
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  word-break: break-all;
  margin-bottom: 12px;
}
.btn-2{
  padding: 15px;
  margin-bottom: 12px;
  border: none;
  outline: none;
  background: #11bba1;
  cursor: pointer;
  border-radius: 7px;

}
.btn-2 a{
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  padding: 15px
}
.btn-2:hover{
  opacity: 0.8;
}


/* Mobile View */
@media screen and (max-width:700px){
  .container{
    max-width: 480px;
    margin: auto;
  }
  .nav-bar{
    margin-top: 21px;
    flex-direction: column;
    position: static;
  }
  .bay-anime img{
    width: 400px;
    position: relative;
    bottom: 50px;
    display: none;
  }
  /* .bay-anime video{
    display: none;
  } */
  .bay-anime .bay-welcome-text{
    white-space: pre-wrap;
    position: relative;
    bottom: 150px;
    max-width: 100%;
    width: 100%;
    text-align: left;
  }
  .bay-anime .bay-welcome-text h3{
    font-size: 1.8rem;
    
  }
  .bay-anime .bay-welcome-text p{
    position: relative;
    bottom: 33px;
    white-space: normal;
    width: 300px;
    padding: 5px;
  }
  .bay-row-2 button.btn{
    bottom: 23rem;
  }
  .bay-row-3{
    min-width: 350px;
    line-height: 2rem;
    /* height: 60vh; */
    bottom: 19rem;
  }
  .bay-row-3 p{
    font-size: 18px;
  }
  
  /* footer */

#footer {
  background: #35322d;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #46423b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

}
