*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar{
  background-color: #ffffff;
  box-shadow: 0 8px 6px -10px black;
  z-index: 99;
}

.navbar .navbar-brand{
  color: rgba(0, 0, 0, 0.65);
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 1.49rem;
}

.navbar-toggler{
  outline: none !important;
  border: none !important;
}

.navbar-nav{
  font-size: 1.0rem;
  font:;
}

.sect {
  /* display: none; */
  margin-top: 4%;
  text-align: center;
}


.sect img {
  height: 250px;
  width: 320px;
}

.sect-1 article h3{
  margin: 0.9rem;
  font-size: 1.5rem;
  color: #161c2d;
}

.sect-1 article p{
  color: #869ab8;
}

section.me{
  margin-top: 4%;
  margin-bottom: 4%;
}

img#me{
  border: 3px solid rgb(31,172,122);
  border-radius: 50%;
  height: auto; 
  width: 140px;
   
}
section .text{
  margin-top: 4%;
  text-align: justify;
  color: rgba(0,0,0,.9);
  text-align: center
};

section .text .lead{
}

.the-team img{
  border-radius: 50%;
  height: auto;
  width: 80px;
}


@media (min-width: 992px){
  .navbar-brand{
    margin-left: 100px;
  }
  #navbar-nav .navbar-nav{
    margin-left: auto;
    margin-right: 100px;
  }

  .sect-1 .carousel-item img {
    height: 400px;
    width: 550px;
  }

  .sect img{
    /* margin-top: 4%; */
    margin-bottom: 3%;
  }
  .sect-1 article p{
    font-size: 1.4rem;
  }

  .the-team img{
    border-radius: 50%;
    height: auto;
    width: 100px;
  }

}

